<?xml version="1.0" ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
 <Package Name="Sport Scorer" Manufacturer="Max Burgess" ProductCode="6ab45328-44f0-4af1-8bd7-9c58e9c42d6e" UpgradeCode="" Language="1033" Codepage="1252" Version="0.0.0">
  <SummaryInformation Keywords="Installer" Description="Sport Scorer 0.0.0 installer" Manufacturer="Max Burgess"/>
  <MajorUpgrade DowngradeErrorMessage="A newer version of Sport Scorer is already installed."/>
  <Media Id="1" Cabinet="sportscorer.cab" EmbedCab="yes"/>
  <StandardDirectory Id="ProgramFiles64Folder">
   <Directory Id="INSTALLDIR" Name="SportScorer">
    <Component Id="ApplicationFiles0" Guid="F19F999F-D8DA-4719-8D28-E850B8195C85">
     <Environment Id="Environment" Name="PATH" Part="last" System="yes" Action="set" Value="[INSTALLDIR]"/>
     <File Id="pathid0" Name="editor.exe" Source="staging_main\editor.exe"/>
     <File Id="pathid1" Name="editor.py" Source="staging_main\editor.py"/>
     <File Id="pathid2" Name="raceml.py" Source="staging_main\raceml.py"/>
    </Component>
   </Directory>
  </StandardDirectory>
  <ui:WixUI Id="WixUI_FeatureTree"/>
  <Feature Id="Complete" Title="Sport Scorer 0.0.0" Description="The complete package" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
   <Feature Id="SportScorer" Title="Sport Scorer" Description="Sport Scorer Suite" Level="1" AllowAbsent="no">
    <ComponentRef Id="ApplicationFiles0"/>
   </Feature>
  </Feature>
 </Package>
</Wix>
