{% extends "base.html.j2" %}
{% block content %}
    <img src="{{ url_for('static', filename='wordmark.svg') }}"
         alt="Tally Ninja"
         style="display: block;
                align-self: left;
                max-width: 100vw;
                max-height: 10vh">
    <small>© Max Burgess 2023
        <br>
    All rights reserved</small>
    <h2>Results</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ file.link }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2>New Result</h2>
    <form action="/new_result" method="post" enctype="multipart/form-data">
        <input type="text" name="filename" placeholder="Filename">
        <!-- dropdown menu of result types, i.e., race, places, etc. -->
        <select name="result_type">
            <option value="race">Race</option>
            <option value="places">Places</option>
        </select>
        <input type="submit" value="Create">
    </form>
{% endblock %}
