{% extends "base.html.j2" %}
{% block content %}
  <img id="preview" />
  <p id="athlete_name"></p>
  <script>
    var config = {{ config | tojson }};
    var athlete_list = {{ athlete_list | tojson }};
    window.addEventListener(
      "storage",
      function (e) {
        const athlete_id = localStorage.getItem("latest_athlete_id");
        const athlete = athlete_list[athlete_id];
        document.getElementById("preview").src = "/athlete_photo/" + athlete_id;
        document.getElementById("athlete_name").textContent = athlete.name;
        document.body.style.backgroundColor = config.teams[athlete.team].colour;
      },
      false
    );
  </script>
{% endblock %}
