{% extends "base.html.j2" %}
{% block content %}
    <img src="{{ url_for('static', filename='wordmark.svg') }}"
         alt="Tally Ninja"
         style="display: block;
                align-self: left;
                max-width: 100vw;
                max-height: 10vh">
    <small>© Max Burgess 2023-2024
        <br>
    All rights reserved</small>
    <h2>Competitions</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ file.link }}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2>New Competition</h2>
    <form action="/new_competition" method="post" enctype="multipart/form-data">
        <input type="text" name="filename" placeholder="Filename">
        <!-- dropdown menu of competition types, i.e., race, places, etc. -->
        <select name="competition_type">
            <option value="race">Race</option>
            <option value="discus_throw">Discus Throw</option>
            <option value="long_jump">Long Jump</option>
            <option value="triple_jump">Triple Jump</option>
            <option value="shot_put">Shot Put</option>
            <option value="javelin_throw">Javelin Throw</option>
            <option value="bonus_points">Bonus Points</option>
            <option value="places">Places</option>
        </select>
        <!-- competitor_type is individual or team radio buttons -->
        <input type="radio" name="competitor_type" value="individual" checked>
        <label for="individual">Individual</label>
        <input type="radio" name="competitor_type" value="team">
        <label for="team">Team</label>
        <input type="submit" value="Create">
    </form>
{% endblock %}
